---
import { getCollection } from 'astro:content'
import BaseLayoutWithHeaderFooter from '../../layouts/BaseLayoutWithHeaderFooter.astro'
import Container from '../../components/Container.astro'
const allPosts = await getCollection('blogs')
---
<BaseLayoutWithHeaderFooter>
  <Container>
    <p class="mt-[24px]">This is my developer journal. It contains blog posts where I explain things that I did or learn, small tutorials for myself and other, and notes and code snippets for whenenver I can't recall how to do somthing.</p>
    <ul class="posts-list">
      {allPosts.map(post => <a class="text-[1.1rem] link" href={`/blog/${post.id}`}>{post.data.title}</a>)}
    </ul>
  </Container>
</BaseLayoutWithHeaderFooter>
<style>
  .posts-list a{
    width: fit-content;
  }
  .posts-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
  }
  .container{
    padding: 0 24px;
  }
</style>