---
import { getCollection } from 'astro:content'
import BaseLayoutWithHeaderFooter from '../../layouts/BaseLayoutWithHeaderFooter.astro'
import Container from '../../components/Container.astro'
const allPosts = await getCollection('blogs')
---
<BaseLayoutWithHeaderFooter>
  <Container>
    <p class="mt-[64px]">Bienvenue a mon blog, Ici, je montre les choses que je apprendre chaque jour.</p>
    <ul class="posts-list">
      {allPosts.map(post => <a class="link" href={`/blog/${post.id}`}>{post.data.title}</a>)}
    </ul>
  </Container>
</BaseLayoutWithHeaderFooter>
<style>
  .posts-list a{
    width: fit-content;
  }
  .posts-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
  }
  .container{
    padding: 0 24px;
  }
</style>