#landing{
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
  display: grid;
  place-content: center;
}

#my-image{
  display: block;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 24px;
}

#my-name{
  font-weight: normal;
}

main h2{
  font-weight: normal;
  font-size: 1.1rem;
  text-align: center;
}

.landing-subtext-wrapper{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.landing-subtext{
  font-size: 1rem;
}

.overview-chevron{
  display: block;
  height: 16px;
  width: 16px;
  border-left: 2px solid #F06543;
  border-top: 2px solid #F06543;
  rotate: 45deg;
}

#overview-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  border: none;
  background-color: transparent;
  color: #FDFDFD;
}

#overview-modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 26, 27, 0.9);
  backdrop-filter: blur(4px);
  z-index: 10;
  padding: 24px;
  display: none;
  flex-direction: column;
}

#close-overview-wrapper{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#close-overview-button{
  font-size: 48px;
  line-height: 1;
  color: #F06543;
  padding: 0 4px;
}

#overview-content{
  margin-top: 48px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #181C1D;
  border-radius: 16px;
  flex-grow: 1;
}

#overview-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(252, 231, 98, 0.15);
}

#overview-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#overview-content-wrapper p {
  font-size: 1.125rem;
  line-height: 1.8rem;
}

#overview-controls-wrapper {
  width: 100%;
  margin-top: 48px;
  gap: 24px;
  display: flex;
}

#overview-controls-wrapper button{
  flex: 1
}

#overview-slide-indicators-wrapper{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.slide-indicator{
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
}

.slide-indicator.slide-indicator-active{
  height: 12px;
  width: 12px;
  background-color: #E0DFD5;
}

#under-construction-wrapper{
  display: flex;
  gap: 12px;
  align-items: center;
}

#under-construction-icon{
  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 4px;
  background-color: #FCE762;
}

#under-construction-wrapper span{
  font-size: 0.875rem;
}

#landing-contact-links-wrapper{
  margin: 24px auto 0;
  width: fit-content;
}

.cv-link-wrapper{
  margin: 24px auto 0;
  width: fit-content;
}

#about-section{
  margin-top: 48px;
}

#skills-section, #projects-section{
  margin-top: 96px;
}

.mobile-section-header{
  margin-bottom: 32px;
}

.skill-heading{
  font-size: 1rem;
  font-weight: 500;
}

.skill-liner-list{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}

.skill-liner-list span{
  font-size: 0.875rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  line-height: 1rem;
  margin-bottom: 4px;
}

.skill-liner-separator{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  background-color: #FCE762;
  margin-bottom: 2px;
}

.skill-groups-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-cards-wrapper{
  margin-top: 1.5rem;
}

.project-card{
  box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.25);
  border-radius: 8px;
}

.project-card-image{
  display: block;
  border-radius: 8px 8px 0 0;
  max-width: 100%;
}

.project-card-body{
  padding: 16px;
}

.project-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card-title{
  font-size: 1rem;
  font-weight: 500;
}

.project-card-visit-site-icon{
  width: 20px;
  display: inline-block;
}

.project-card-subtitle{
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.project-card-technologies-wrapper{
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.project-card-technology-pill{
  border: 1.5px solid #FCE762;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 14px;
  color: #FCE762;
  font-size: 0.625rem;
}

.project-card-learn-more{
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
}