@import "tailwindcss";

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a{
    color: unset;
    text-decoration: none;
  }
}

@theme{
  --color-transparent-white: rgba(255,255,255,0.7);
  /* --color-bg: #181C1D; */
  --color-bg: #1d2527;
  --color-almost-black: #121212;
  --color-accent-yellow: #FCE762;
  --color-accent-orange: #F06543;
  --color-footer-bg: #161a1b;
}

body{
  background-color: theme('colors.bg');
  color: #EEEEEE;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body:has(#hamburger-menu[data-open="true"]){
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, div, button, a {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hamburger-button, .button{
  outline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.secondary-button {
  border: 1px solid #F06543;
  color: #E0DFD5;
  border-radius: 8px;
}

.medium-button {
  padding: 12px 32px;
  font-size: 1.1rem;
}

.download-button {
  width: 100%;
  display: block;
}

#closed-hamburger-button{
  display: block;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.hamburger-line{
  display: block;
  height: 3px;
}

.hamburger-long-line{
  width: 24px;
}

.hamburger-orange-line{
  background-color: #F06543
}

.hamburger-short-line{
  width: 12px;
}

.hamburger-yellow-line{
  background-color: #FCE762
}

#hamburger-menu[data-open="true"]{
  display: block;
}

#hamburger-menu[data-open="false"]{
  display: none;
}

#hamburger-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 26, 27, 0.9);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#open-hamburger-button{
  margin-top: 24px;
  margin-left: 24px;
  display: block;
}

#nav-links-wrapper{
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#under-construction-wrapper{
  display: flex;
  gap: 12px;
  align-items: center;
}

#under-construction-icon{
  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 4px;
  background-color: #FCE762;
}

#under-construction-wrapper span{
  font-size: 0.875rem;
}

.bordered-nav-link{
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(252, 231, 98, 0.15);
}

.bordered-nav-link:hover{
  border-bottom: 1px solid rgb(252, 231, 98);
  color: white;
}

.active-link{
  border-bottom: 1px solid rgba(252, 231, 98)
}

.heading, .nav-link{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: calc(1rem * 0.1);
  font-weight: 300;
}

.heading{
  font-size: 1.25rem;
}

.contact-links-wrapper{
  display: flex;
  align-items: center;
  gap: 24px;
}

.contact-link-icon{
  width: 20px;
  display: inline-block;
}

.link{
  color: #F06543;
  text-decoration: none;
  border-bottom: 1px solid #F06543;
  padding-bottom: 1px;
}

.yellow-line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #FCE762;
}

#highlighted-span{
  color: #FCE762;
  font-weight: 500;
}

#main-footer{
  margin-top: 64px;
  padding: 24px;
  background-color: theme('colors.footer-bg');
}

#icons8-notice{
  font-size: 0.875rem;
  color: rgba(255,255,255,0.7);
  width: fit-content;
  margin: 0 auto;
}

#icons8-notice a{
  display: inline-block;
}

.technology-pill{
  border: 1.5px solid #FCE762;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 14px;
  color: #FCE762;
  font-size: 0.625rem;
}