---
import { getCollection } from "astro:content";
import Container from "../../components/Container.astro";
import BaseLayoutWithHeaderFooter from "../../layouts/BaseLayoutWithHeaderFooter.astro";
const socialLinks = (await getCollection("socialLinks")).map(element => element.data)
---

<BaseLayoutWithHeaderFooter>
  <Container>
    <div class="mt-[24px] flex flex-col gap-4">
      <p>You can <a class="link" href="https://x.com/daniel_fdez99">find me on Twitter</a> (now called X).</p>
      <p><a class="link" href="https://www.linkedin.com/in/danielfdez99/">I'm on LinkedIn</a> waiting for a recruiter to offer me a dream job.</p>
      <p>My code (both finished and unfinished) inhabits <a class="link" href="https://github.com/Daniel9991">this Github profile.</a></p>
      <p>Write me an <a class="link" href="mailto:danny.fdez99@gmail.com">email</a> if you have any questions regarding this site or my work in general.</p>
    </div>
  </Container>
</BaseLayoutWithHeaderFooter>