---
import "../styles/home.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import SkillsSection from "../components/SkillsSection.astro"
import AboutMe from "../components/AboutMe.astro"
import ProjectCardsSection from "../components/ProjectCardsSection.astro"
import Landing from "../components/Landing.astro"

---
<BaseLayout>
  <div class="container">
    <Landing />
    <AboutMe />
    <SkillsSection />
    <ProjectCardsSection />
  </div>
</BaseLayout>
<style>
  .container{
    max-width: 600px;
    margin: 0 auto;
  }
</style>