---
import "../styles/styles.css"
import "../styles/home.css"
import meImg from "../assets/images/me.png"
import tempusImg from "../assets/images/Tempus.png"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS file to include serve fonts locally when developing offline -->
  <!-- <link rel="stylesheet" href="styles/font.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Daniel Fernandez</title>
</head>
<body>
  <div id="landing">
    <nav>
      <div id="hamburger-wrapper">
        <button id="closed-hamburger-button" class="hamburger-button">
          <div id="closed-hamburger-icon" class="hamburger-icon">
            <div class="hamburger-line hamburger-long-line hamburger-orange-line"></div>
            <div class="hamburger-line hamburger-short-line hamburger-yellow-line"></div>
            <div class="hamburger-line hamburger-long-line hamburger-orange-line"></div>
          </div>
        </button>
        <section id="hamburger-menu" data-open="false">
          <button id="open-hamburger-button" class="hamburger-button">
            <div id="open-hamburger-icon" class="hamburger-icon">
              <div class="hamburger-line hamburger-short-line hamburger-orange-line"></div>
              <div class="hamburger-line hamburger-long-line hamburger-yellow-line"></div>
              <div class="hamburger-line hamburger-short-line hamburger-orange-line"></div>
            </div>
          </button>
          <div id="nav-links-wrapper">
            <p class="heading nav-link active-link">Home</p>
            <p class="heading nav-link">Projects</p>
            <p class="heading nav-link">Skills</p>
            <p class="heading nav-link">Blog</p>
            <p class="heading nav-link">About</p>
            <!-- <a href="cv.html" class="nav-link">CV</a> -->
          </div>
        </section>
      </div>
      <div id="under-construction-wrapper">
        <img id="under-construction-icon" src="/icons/construction-yellow.png" />
        <span>Under Construction</span>
      </div>
    </nav>
    <main>
      <div>
        <img id="my-image" src={meImg.src} />
        <h2 id="my-name" class="heading">Daniel Fernandez</h2>
        <div id="landing-contact-links-wrapper" class="contact-links-wrapper">
          <a href="https://x.com/daniel_fdez99">
            <img id="twitter-link-icon" class="contact-link-icon" src="/icons/twitter-orange.png" />
          </a>
          <a href="https://github.com/Daniel9991">
            <img id="github-link-icon" class="contact-link-icon"  src="/icons/github-orange.png" />
          </a>
          <a href="https://www.linkedin.com/in/danielfdez99/">
            <img id="linkedin-link-icon" class="contact-link-icon"  src="/icons/linkedin-orange.png" />
          </a>
          <a href="mailto:danny.fdez99@gmail.com">
            <img id="mail-link-icon" class="contact-link-icon"  src="/icons/mail-orange.png" />
          </a>
        </div>
        <div class="landing-subtext-wrapper">
          <h2 class="landing-subtext">Software Engineer</h2>
          <h2 class="landing-subtext">2+ Years As Web Developer</h2>
        </div>
        <div class="cv-link-wrapper">
          <a class="link" href="/cv/DANIEL_FERNANDEZ_CV.pdf" download>
            CV - EN
          </a>
        </div>
      </div>
    </main>
  </div>
  <section class="section mobile-container" id="about-section">
    <header class="mobile-section-header">
      <h2 class="heading">ABOUT ME</h2>
      <div class="yellow-line"></div>
    </header>
    <div class="paragraphs">
      <p class="paragraph">My name is Daniel Fernandez. I'm a software engineer from Cuba with over two years of experience in web development. I enjoy creating practical, user-friendly products and working across the full stack, with an emphasis on usability, clean design, and maintainable code.</p>
      <p class="paragraph">Even though I have a degree in software engineering, I consider myself self-taught. Halfway through my degree I started exploring various languages and tools by watching tutorials, reading books and just building and breaking things. This helped me land my first gigs while still in university. That drive to learn and explore new technologies still accompanies me as I search for new growth opportunities.</p>
    </div>
  </section>
  <section class="section mobile-container" id="skills-section">
    <header class="mobile-section-header">
      <h2 class="heading">SKILLS</h2>
      <div class="yellow-line"></div>
    </header>
    <div class="skill-groups-wrapper">
      <div>
        <div class="skill-heading">Programming Languages:</div>
        <div class="skill-liner-list">
          <span>JavaScript/Typescript</span>
          <div class="skill-liner-separator"></div>
          <span>CSS</span>
          <div class="skill-liner-separator"></div>
          <span>HTML</span>
          <div class="skill-liner-separator"></div>
          <span>Python</span>
          <div class="skill-liner-separator"></div>
          <span>Scala</span>
        </div>
      </div>
      <div>
        <div class="skill-heading">Frameworks and Technologies:</div>
        <div class="skill-liner-list">
          <span>React.js</span>
          <div class="skill-liner-separator"></div>
          <span>Next.js</span>
          <div class="skill-liner-separator"></div>
          <span>Express.js</span>
          <div class="skill-liner-separator"></div>
          <span>Flask</span>
          <div class="skill-liner-separator"></div>
          <span>tkinter</span>
          <div class="skill-liner-separator"></div>
          <span>Apache Spark</span>
        </div>
      </div>
      <div>
        <div class="skill-heading">Databases:</div>
        <div class="skill-liner-list">
          <span>PostgreSQL</span>
          <div class="skill-liner-separator"></div>
          <span>MySQL</span>
          <div class="skill-liner-separator"></div>
          <span>MongoDB</span>
        </div>
      </div>
      <div>
        <div class="skill-heading">Tools:</div>
        <div class="skill-liner-list">
          <span>Git/GitHub</span>
          <div class="skill-liner-separator"></div>
          <span>KNIME</span>
          <div class="skill-liner-separator"></div>
          <span>Postman</span>
          <div class="skill-liner-separator"></div>
          <span>pgAdmin</span>
          <div class="skill-liner-separator"></div>
          <span>Figma</span>
        </div>
      </div>
    </div>
  </section>
  <section class="section mobile-container" id="projects-section">
    <header class="mobile-section-header">
      <h2 class="heading">PROJECTS</h2>
      <div class="yellow-line"></div>
    </header>
    <div class="project-cards-wrapper">
      <article class="project-card">
        <img src={tempusImg.src} alt="" class="project-card-image">
        <section class="project-card-body">
          <header class="project-card-header">
            <h3 class="project-card-title">Tempus</h3>
            <a class="project-card-visit-site" target="_blank" href="https://daniel9991.github.io/tempus">
              <img class="project-card-visit-site-icon" src="/icons/external-link-orange.png" alt="">
            </a>
          </header>
          <p class="project-card-subtitle">An online stopwatch and timer with a neumorphic design.</p>
          <div class="project-card-technologies-wrapper">
            <span class="project-card-technology-pill">HTML</span>
            <span class="project-card-technology-pill">CSS</span>
            <span class="project-card-technology-pill">JavaScript</span>
          </div>
          <a class="link project-card-learn-more" href="">Learn More</a>
        </section>
      </article>
    </div>
  </section>
  <footer id="main-footer">
    <p id="icons8-notice">
      All icons are from
      <a class="link" target="_blank" href="https://icons8.com">icons8</a>
    </p>
  </footer>
  <script src="../scripts/code.js">
  </script>
</body>
</html>
