---
import Container from "./Container.astro";
import Heading from "./Heading.astro";

---
<section class="lg:bg-[#121212]">
  <Container>
    <div class="mb-[32px]">
      <Heading content="ABOUT ME"/>  
    </div>
    <div class="md:hidden flex flex-col gap-[16px]">
      <p class="leading-[1.5rem]">My name is Daniel. I'm a software engineer from Cuba. I enjoy creating practical, user-friendly products and working across the full stack, with an emphasis on usability, clean design, and maintainable code.</p>
      <p class="leading-[1.5rem]">I consider myself self-taught even though I have a degree in software engineering. Halfway through my degree I started exploring by watching tutorials, reading books and just building and breaking things. This helped me land my first gigs while still in university. I still carry that same drive to build and learn as I search for new growth opportunities.</p>
    </div>
    <div class="md:flex flex-col gap-[16px] pl-[40px] py-[8px] border-l-2 border-l-accent-yellow/15 border-r-2 border-r-transparent">
      <div class="leading-[1.5rem] mx-auto max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto eveniet aut atque distinctio asperiores voluptatem consequuntur sunt explicabo ratione quae, ipsum dolorem tempore dolore excepturi, nisi nesciunt vero officiis at autem inventore adipisci doloribus cum? Exercitationem, quaerat provident? Sequi eligendi autem deleniti aspernatur numquam ullam facere, veniam dicta nulla!</div>
      <div class="leading-[1.5rem] mx-auto max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto eveniet aut atque distinctio asperiores voluptatem consequuntur sunt explicabo ratione quae, ipsum dolorem tempore dolore excepturi, nisi nesciunt vero officiis at autem inventore adipisci doloribus cum? Exercitationem, quaerat provident? Sequi eligendi autem deleniti aspernatur numquam ullam facere, veniam dicta nulla!</div>
      <div class="leading-[1.5rem] mx-auto max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto eveniet aut atque distinctio asperiores voluptatem consequuntur sunt explicabo ratione quae, ipsum dolorem tempore dolore excepturi, nisi nesciunt vero officiis at autem inventore adipisci doloribus cum? Exercitationem, quaerat provident? Sequi eligendi autem deleniti aspernatur numquam ullam facere, veniam dicta nulla!</div>
    </div>
  </Container>  
</section>

