---
---
<section class="section mobile-container" id="about-section">
    <header class="mobile-section-header">
      <h2 class="heading">ABOUT ME</h2>
      <div class="yellow-line"></div>
    </header>
    <div class="paragraphs">
      <p class="paragraph">My name is Daniel. I'm a software engineer from Cuba. I enjoy creating practical, user-friendly products and working across the full stack, with an emphasis on usability, clean design, and maintainable code.</p>
      <p class="paragraph">I consider myself self-taught even though I have a degree in software engineering. Halfway through my degree I started exploring by watching tutorials, reading books and just building and breaking things. This helped me land my first gigs while still in university. I still carry that same drive to build and learn as I search for new growth opportunities.</p>
    </div>
  </section>

