---
---
<section class="section mobile-container" id="about-section">
    <header class="mobile-section-header">
      <h2 class="heading">ABOUT ME</h2>
      <div class="yellow-line"></div>
    </header>
    <div class="paragraphs">
      <p class="paragraph">My name is Daniel Fernandez. I'm a software engineer from Cuba with over two years of experience in web development. I enjoy creating practical, user-friendly products and working across the full stack, with an emphasis on usability, clean design, and maintainable code.</p>
      <p class="paragraph">Even though I have a degree in software engineering, I consider myself self-taught. Halfway through my degree I started exploring various languages and tools by watching tutorials, reading books and just building and breaking things. This helped me land my first gigs while still in university. That drive to learn and explore new technologies still accompanies me as I search for new growth opportunities.</p>
    </div>
  </section>

