---
import Container from "./Container.astro";
import Heading from "./Heading.astro";

---
<section class="lg:bg-[#121212]">
  <Container>
    <div class="mb-[32px]">
      <Heading content="ABOUT ME"/>  
    </div>
    <div class="md:hidden flex flex-col gap-[16px]">
      <p class="leading-[1.5rem]">My name is Daniel. I have worked mainly as a web developer in full-stack web applications. Most notably I built e-commerce websites allowing business to showcase and sell their goods online.</p>
      <p class="leading-[1.5rem]">I have worked with technologies such as React, Next.js, TailwindCSS, Express.js and others. I enjoy creating solutions to problems through code. I pay attention to keeping the codebase clean and maintainable.</p>
    </div>
    <div class="hidden md:flex flex-col gap-[16px] pl-[40px] py-[8px] border-l-2 border-l-accent-yellow/15 border-r-2 border-r-transparent">
      <!-- <div class="leading-[1.5rem] max-w-[600px]">I'm a software engineer from Cuba. I graduated from university with a degree in Software Engineering. I also consider myself self-taught because I devoted a considerable amounts of time to exploring and learning programming and technologies outside my degree's curriculum.</div> -->
      <p class="leading-[1.5rem] max-w-[600px]">My name is Daniel. I have worked mainly as a web developer in full-stack web applications. Most notably I built e-commerce websites, allowing small businesses to showcase their products and services giving them an online presence. By connecting them to payment processors I helped them develop a way to let customers easily purchase their goods. These projects also included custom admin dashboards to let business owners and managers fully control their website's content.</p>
      <p class="leading-[1.5rem] max-w-[600px]">I have worked with technologies such as React, Next.js, TailwindCSS, Express.js and others. I have worked with PostgreSQL and MongoDB as databases. I also have experience coding in Python for backend development through Flask and desktop apps. I enjoy working with most technologies and I am always ready to learn whichever is needed to get a job done.</p>
      <p class="leading-[1.5rem] max-w-[600px]">I enjoy creating solutions to problems through code. I pay attention to keeping the codebase clean and maintainable. I have worked entire projects by myself but also like working with others and learning from them.</p>
    </div>
  </Container>  
</section>

