<footer id="main-footer">
  <p class="text-[0.875rem] text-white/70 w-fit m-auto">
    All icons are from
    <a class="link inline-block" target="_blank" href="https://icons8.com">icons8</a>
  </p>
  <p class="text-[0.875rem] text-white/70 w-fit m-auto">(They have good icons)</p>
</footer>