---
const {content} = Astro.props
---
<header class="flex items-center gap-[24px]">
  <h2 style="letter-spacing: calc(1rem * 0.1);" class="text-[1.25rem] lg:text-[2rem] font-light text-white/70  whitespace-nowrap">{content}</h2>
  <div class="block w-full h-[1px] bg-accent-yellow md:hidden"></div>
</header>