---
import { getCollection } from 'astro:content'
import ProjectCard from "./ProjectCard.astro"
import Container from './Container.astro';
import Heading from './Heading.astro';

const projects = (await getCollection("projects")).map(element => element.data)

const images = import.meta.glob('../assets/images/projects/*', {
  eager: true,
  import: 'default',
}) as Record<string, ImageMetadata>;
---
<section class="mt-[96px]">
  <Container>
    <div class="mb-[32px]">
      <Heading content="PROJECTS" />
    </div>
    <div class="flex flex-col gap-[32px]">
      {projects.map(project => {
        const image = images[`../assets/images/projects/${project.imgName}`];

        return <ProjectCard project={project} image={image} /> 
       })} 
    </div>
  </Container>  
</section>

