---
import Container from "./Container.astro"
import Heading from "./Heading.astro"
import SkillSublist from "./SkillSublist.astro"
import SkillVerticalSublist from "./SkillVerticalSublist.astro"
---
<section class="pt-[96px] lg:bg-linear-to-b from-almost-black to-bg" id="skills-section">
  <Container>
    <div class="mb-[32px]">
      <Heading content="SKILLS" />
    </div>
    <div class="lg:hidden flex flex-col gap-[24px]">
      <SkillSublist skillName="Programming Languages" skillList={["JavaScrip/TypeScript", "CSS", "HTML", "Python", "Scala"]} />
      <SkillSublist skillName="Frameworks and Technologies" skillList={["React.js", "Next.js", "Express.js", "Flask", "tkinter", "Apache Spark"]} />
      <SkillSublist skillName="Databases" skillList={["PostgreSQL", "MySQL", "MongoDB"]} />
      <SkillSublist skillName="Tools" skillList={["Git/GitHub", "pgAdmin", "Figma", "Postman", "KNIME"]} />
    </div>
    <div class="hidden lg:block">
      <div class="flex items-start gap-[32px] justify-between">
        <p class="max-w-[500px]">I have mostly worked web development related languages and technologies, from across the whole stack. Primarily JavaScript and the React ecosystem.</p>
        <p class="max-w-[500px]">I also have background on other fields like data mining and data engineering, which had me working with Python, Scala and Apache Spark.</p>
      </div>
      <div class="flex items-start mt-[32px] justify-between">
        <SkillVerticalSublist skillName="Programming Languages" skillList={["JavaScrip/TypeScript", "CSS", "HTML", "Python", "Scala"]} />
        <SkillVerticalSublist skillName="Technologies" skillList={["React.js", "Next.js", "Express.js", "Flask", "tkinter", "Apache Spark"]} />
        <SkillVerticalSublist skillName="Databases" skillList={["PostgreSQL", "MySQL", "MongoDB"]} />
        <SkillVerticalSublist skillName="Tools" skillList={["Git/GitHub", "pgAdmin", "Figma", "Postman", "KNIME"]} />
      </div>
    </div>
  </Container>  
</section>

