---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "../styles/styles.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS file to serve fonts locally when developing offline -->
  <!-- <link rel="stylesheet" href="styles/font.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Daniel Fernandez</title>
</head>
<body>
  <div>
    <Header />
    <slot />
  </div>
  <Footer />
</body>
</html>