---
import BaseLayout from "./BaseLayout.astro"
import BaseLayoutWithHeaderFooter from "./BaseLayoutWithHeaderFooter.astro"

const { frontmatter } = Astro.props
---
<BaseLayoutWithHeaderFooter>
  <div class="container mt-[64px]">
    <header class="post-header">
      <h2 class="post-title">{frontmatter.title}</h2>
      <div class="post-header-secondary-info">
        <p class="author-tag">by {frontmatter.author} - {frontmatter.pubDate.toString().slice(0, 10)}</p>
      </div>
    </header>
    <div class="post-body">
      <slot />
    </div>
  </div>
</BaseLayoutWithHeaderFooter>
<style>
  .post-body{
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .post-header-secondary-info{
    margin-top: 8px;
    color: rgba(255,255,255,0.7)
  }
  .post-title{
    font-size: 2rem;
    font-weight: 500;
  }
  .post-header{
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
  .container{
    padding-left: 24px;
    padding-right: 24px;
  }
</style>
