* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: unset;
  text-decoration: none;
}

body{
  background-color: #181C1D;
  color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6, p, span, div, button, a {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mobile-container{
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;

}

.mobile-section-header{
  display: flex;
  align-items: center;
  gap: 24px;
}

.mobile-section-header .heading{
  white-space: nowrap;
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.hamburger-button, .button{
  outline: 0;
  border: none;
  background-color: transparent;
}

.secondary-button {
  border: 1px solid #F06543;
  color: #E0DFD5;
  border-radius: 8px;
}

.medium-button {
  padding: 12px 32px;
  font-size: 1.1rem;
}

.download-button {
  width: 100%;
  display: block;
}

#closed-hamburger-button{
  display: block;
}

#rss-button{
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
}
#rss-icon{
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
}
#rss-icon-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F06543;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
#rss-icon-first-wave{
  width: 13px;
  height: 13px;
  border-top: 3px solid #FCE762;
  border-right: 3px solid #FCE762;
  border-radius: 0 15px 0 0;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
}
#rss-icon-second-wave{
  width: 21px;
  height: 21px;
  border-top: 3px solid #F06543;
  border-right: 3px solid #F06543;
  border-radius: 0 23px 0 0;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
}

#rss-wrapper{
  background-color: rgba(22, 26, 27, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.hamburger-line{
  display: block;
  height: 3px;
}

.hamburger-long-line{
  width: 24px;
}

.hamburger-orange-line{
  background-color: #F06543
}

.hamburger-short-line{
  width: 12px;
}

.hamburger-yellow-line{
  background-color: #FCE762
}

#hamburger-menu[open="true"]{
  display: block;
}

#hamburger-menu[open="false"]{
  display: none;
}

#hamburger-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 26, 27, 0.9);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#open-hamburger-button{
  margin-top: 24px;
  margin-left: 24px;
  display: block;
}

#nav-links-wrapper{
  padding: 16px 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link{
  padding: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(252, 231, 98, 0.15);
}

.heading.nav-link{
  font-size: 1rem;
}

.active-link{
  border-bottom: 1px solid rgba(252, 231, 98)
}

.heading{
  text-transform: uppercase;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: calc(1rem * 0.1);
  font-weight: 300;
}

.contact-links-wrapper{
  display: flex;
  align-items: center;
  gap: 24px;
}

.contact-link-icon{
  width: 20px;
  display: inline-block;
}

.link{
  color: #F06543;
  text-decoration: none;
  border-bottom: 1px solid #F06543;
  padding-bottom: 1px;
}

.yellow-line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #FCE762;
}

.paragraph{
  line-height: 1.5rem;
}

#highlighted-span{
  color: #FCE762;
  font-weight: 500;
}

.paragraphs{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main-footer{
  margin-top: 64px;
  padding: 24px;
  background-color: #161A1B;
}

#icons8-notice{
  font-size: 0.875rem;
  color: rgba(255,255,255,0.7);
  width: fit-content;
  margin: 0 auto;
}

#icons8-notice a{
  display: inline-block;
}